#registration-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px;
  border-radius: 8px;
  box-shadow: 0px 0px 12px 12px rgba(41, 41, 41, 0.2);
  padding: 24px;
}
